.navbar{
  background:linear-gradient(90deg,#1e3a8a,#2563eb);
  padding:15px 8%;
  position:sticky;
  top:0;
  z-index:1000;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
}
.navbar-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:bold;
  color:white;
}
.logo img{
  width:40px;
  height:40px;
  border-radius:8px;
}
.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}
.nav-links a{
  text-decoration:none;
  color:white;
  font-weight:500;
  position:relative;
  transition:0.3s ease;
}
.nav-links a::after{
  content:"";
  position:absolute;
  width:0%;
  height:2px;
  left:0;
  bottom:-5px;
  background:#facc15;
  transition:0.4s;
}
.nav-links a:hover::after{
  width:100%;
}
.nav-links a.active{
  color:#facc15;
}
@media(max-width:768px){
  .nav-links{
    gap:15px;
  }
}