.services-section{
  padding:60px 10%;
  background:linear-gradient(to right,#f8f9fa,#eef2f7);
  text-align:center;
}
.services-title{
  font-size:40px;
  margin-bottom:50px;
  font-weight:700;
  color:#1e293b;
}
.services-container{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}
.service-card{
  background:white;
  width:300px;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:all 0.4s ease;
  cursor:pointer;
}
.service-card:hover{
  transform:translateY(-15px);
  box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
.service-card img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:15px;
  margin-bottom:20px;
}
.service-card h3{
  font-size:22px;
  margin-bottom:10px;
  color:#0f172a;
}
.service-card p{
  font-size:15px;
  color:#64748b;
}
@media(max-width:768px){
  .services-container{
    flex-direction:column;
    align-items:center;
  }
}