.contact-section{
  padding:60px 10%;
  background:linear-gradient(to right,#1e293b,#0f172a);
  min-height:90vh;
  display:flex;
  align-items:center;
}
.contact-container{
  display:flex;
  gap:50px;
  align-items:center;
  justify-content:space-between;
  width:100%;
  flex-wrap:wrap;
}
.contact-form{
  flex:1;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  padding:40px;
  border-radius:20px;
  color:white;
}
.contact-form h2{
  font-size:32px;
  margin-bottom:10px;
}
.contact-form p{
  margin-bottom:25px;
  color:#cbd5e1;
}
.contact-form form{
  display:flex;
  flex-direction:column;
  gap:15px;
}
.contact-form input,
.contact-form textarea{
  padding:12px;
  border-radius:8px;
  border:none;
  outline:none;
}
.contact-form button{
  padding:12px;
  border-radius:8px;
  border:none;
  background:#3b82f6;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}
.contact-form button:hover{
  background:#2563eb;
}
.contact-image{
  flex:1;
}
.contact-image img{
  width:100%;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,0.4);
}
@media(max-width:768px){
  .contact-container{
    flex-direction:column;
  }
}